@import url('https://fonts.googleapis.com/css2?family=Keania+One&family=Khula&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'Khula', sans-serif;
}

#app {
    font-family: 'Khula', sans-serif;
    color: #ffffff;
    background-color: #000000;
}

.header-text {
    font-family: 'Keania One', sans-serif;
}

@layer components {
    .bg-primary {
        @apply bg-[#5B0047];
    }

    .bg-secondary {
        @apply bg-[#090909];
    }

    .bg-gradient {
        @apply bg-gradient-to-b from-[#5B0047] to-[#000000];
    }

    .btn-primary {
        @apply py-3 px-10 bg-[#720059] text-white font-semibold rounded-lg shadow-md hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-[#5B0047] focus:ring-opacity-75;
    }

    .btn-outline {
        @apply py-2 px-6 border border-[#5B0047] text-white rounded-md shadow-md hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-[#5B0047] focus:ring-opacity-75;
    }

    .text-gray {
        @apply text-[#A6A6A6];
    }

    .text-purple {
        @apply text-[#6600CC];
    }
}
